div.container {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
}

div.container > :not(.absolute) {
  margin: 0px 4px;
}

button.iconButton {
  width: 26px;
  height: 26px;
  padding: 1px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

button.iconButton svg {
  fill: rgba(0, 0, 0);
  width: 16px;
  height: 16px;
}

button.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

button.iconButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

div.dropdownAnchor {
  height: 26px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  display: flex;
}

div.dropdownAnchor:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

div.dropdownAnchor.disabled {
  background-color: unset;
  cursor: unset;
}

button.dropdownIcon {
  border: unset;
  border-radius: 8px 0px 0px 8px;
}

button.dropdownArrow {
  border: unset;
  width: 16px;
  border-radius: 0px 8px 8px 0px;
}

button.dropdownArrow svg {
  fill: rgba(0, 0, 0, 0.8);
  width: 8px;
  height: 8px;
}

ul.dropdownMenu {
  min-width: 120px;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  background-color: rgba(0, 0, 0, 0.04);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  z-index: 1;
}

li.dropdownMenuItem {
  list-style-type: none;
  user-select: none;
  cursor: pointer;
  padding: 2px 8px;
  border-radius: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

li.dropdownMenuItem[aria-selected='true'] {
  background-color: rgba(0, 0, 0, 0.08);
}

li.dropdownMenuItem:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

li.dropdownMenuItem:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.absolute {
  position: absolute;
}

button.iconButton:disabled,
div.dropdownAnchor.disabled {
  background-color: rgba(0, 0, 0, 0.02);
  border: 1px solid rgba(0, 0, 0, 0.04);
  cursor: unset;
}

button.iconButton:disabled svg {
  fill: rgba(0, 0, 0, 0.2);
}
