.cursorBar {
  position: absolute;
}

.cursorTextarea {
  font-family: sans-serif;
  position: absolute;
  overflow: hidden;
  border: none;
  outline: none;
  resize: none;
  padding: 0px;
  z-index: 1;
}

.suggestionList {
  position: absolute;
  min-width: 250px;
  font-size: 14px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  background-color: rgba(255, 255, 255);
  z-index: 1;
}

.suggestionHeader {
  width: 100%;
  box-sizing: border-box;
  padding: 4px;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  white-space: nowrap;
  text-align: center;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.12);
}

.suggestionContainer {
  position: relative;
  width: 100%;
  max-height: 100px;
  margin: 0px;
  padding: 0px;
  border-radius: 0px 0px 8px 8px;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.04);
}

.suggestionItem {
  list-style-type: none;
  cursor: pointer;
  padding: 2px 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suggestionItem[aria-selected='true'] {
  background-color: #eff7ff;
}

.suggestionItem:hover {
  background-color: #d9e9f7;
}
