<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Yuya Suwa">
    <title>Realtime Markup Editor Sample</title>
    <meta name="description" content="A text document editor which is syntactically formattable in real time.">
  </head>
  <body>
    <div id="app"></div>
    <script crossorigin src="https://unpkg.com/react@<%= reactVersion %>/umd/react.<%= mode == 'production' ? 'production.min' : 'development' %>.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@<%= reactVersion %>/umd/react-dom.<%= mode == 'production' ? 'production' : 'development' %>.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.css" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/katex@0.13.11/dist/katex.js" crossorigin="anonymous"></script>
  </body>
</html>
