.sample {
  width: calc(48vw - 30px);
  height: calc(96vh - 30px);
  margin: 10px;
  border: solid 1px;
  display: inline-block;
}

.github {
  color: #595f6e;
  border-bottom: solid 1px;
}
.github.active {
  color: #08090b;
  font-weight: 500;
}

.npm {
  color: #f75e8a;
  border-bottom: solid 1px;
}
.npm.active {
  color: #e14978;
  font-weight: 500;
}
