button.iconButton {
  width: 24px;
  height: 24px;
  padding: 1px;
  align-items: center;
  justify-content: center;
  border-radius: 30%;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

button.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

button.iconButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

svg.icon {
  color: #000000;
  width: 16px;
  height: 16px;
}

button.dropdownArrow {
}

ul.dropdownMenu {
}

li.dropdownMenuItem {
}
