button.iconButton {
  width: 24px;
  height: 24px;
  padding: 1px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: none;
  background-color: rgba(0, 0, 0, 0.04);
  cursor: pointer;
}

button.iconButton:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

button.iconButton:active {
  background-color: rgba(0, 0, 0, 0.2);
}

div.dropdownAnchor {
  border-radius: 8px;
  display: inline-flex;
}

div.dropdownAnchor:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

button.dropdownIcon {
  border-radius: 8px 0px 0px 8px;
}

button.dropdownArrow {
  width: 16px;
  border-radius: 0px 8px 8px 0px;
}

ul.dropdownMenu {
}

li.dropdownMenuItem {
}

svg.syntaxIcon {
  color: rgba(0, 0, 0);
  width: 16px;
  height: 16px;
}

svg.arrowIcon {
  color: rgba(0, 0, 0, 0.8);
  width: 8px;
  height: 8px;
}
