:global(.react-realtime-markup-editor) {
  width: 400px;
  height: 400px;
}

:global(.editor-quotation) {
  background-color: rgba(125, 128, 128, 0.1);
  border-left: solid 4px #a0a0a0;
  padding-left: 4px;
  font-style: italic;
}

:global(.editor-code),
:global(.editor-formula) {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  background-color: rgba(27, 31, 35, 0.05);
}

:global(.editor-link) {
  text-decoration-line: none;
  color: #5e8af7;
  cursor: text;
}

:global(.editor-link:hover) {
  color: #425a9d;
  cursor: pointer;
}

:global(.editor-text-decoration-normal) {
  font-size: 16px;
}

:global(.editor-text-decoration-larger) {
  font-size: 20px;
}

:global(.editor-text-decoration-largest) {
  font-size: 24px;
}

:global(.editor-text-decoration-bold) {
  font-weight: bold;
}

:global(.editor-text-decoration-italic) {
  font-style: italic;
}

:global(.editor-text-decoration-underline) {
  border-bottom: 1px solid;
}

:global(.react-realtime-markup-editor) :global(.katex-display) {
  display: inline-block;
  margin: 0;
  text-align: inherit;
}
