/* Editor */
div.React-Realtime-Markup-Editor-root {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  position: relative;
  user-select: none;
}

div.React-Realtime-Markup-Editor-editor {
  width: 100%;
  height: auto;
  min-height: 100%;
}

/* TextLines */
div.React-Realtime-Markup-Editor-textlines {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  position: absolute;
  cursor: text;
}

div.React-Realtime-Markup-Editor-line {
  display: block;
  position: relative;
}

span.React-Realtime-Markup-Editor-textlines-indent {
  left: 0px;
  top: 0px;
  position: absolute;
}

span.React-Realtime-Markup-Editor-textlines-indent-pad {
  display: inline-block;
  width: 1.5em;
  overflow: hidden;
}

span.React-Realtime-Markup-Editor-textlines-indent-dot {
  top: 0.5em;
  right: 0.75em;
  position: absolute;
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #000000;
}

span.React-Realtime-Markup-Editor-textlines-content {
  display: block;
}

/* Cursor */
div.React-Realtime-Markup-Editor-cursor {
  position: absolute;
}

textarea.React-Realtime-Markup-Editor-cursor {
  position: absolute;
  overflow: hidden;
  border: none;
  outline: none;
  resize: none;
  padding: 0px;
  z-index: 1;
}

ul.React-Realtime-Markup-Editor-cursor-suggestion-list {
  position: absolute;
  margin: 0px;
  padding: 0px;
  border-radius: 6px;
  box-shadow: 0px 1px 2px #cccccc;
  background-color: #ffffff;
  z-index: 1;
}

li.React-Realtime-Markup-Editor-cursor-suggestion-item {
  list-style-type: none;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #eaecef;
  overflow: hidden;
  white-space: nowrap;
  overflow-y: scroll;
  text-overflow: ellipsis;
}

li.React-Realtime-Markup-Editor-cursor-suggestion-item:hover {
  background-color: #f6f8fa;
}

li.React-Realtime-Markup-Editor-cursor-suggestion-item[aria-selected="true"] {
  background-color: #f6f8fa;
}

/* Selection */
div.React-Realtime-Markup-Editor-selection {
  position: absolute;
  background-color: #accef7;
  opacity: 0.5;
}
